<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
 
   <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.OJToolkit.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/ojtoolkit/login</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>CoderService</servlet-name>
    <servlet-class>com.OJToolkit.server.CoderServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CoderService</servlet-name>
    <url-pattern>/ojtoolkit/coder</url-pattern>
  </servlet-mapping>
  
  
        <servlet>
    <servlet-name>LanguageService</servlet-name>
    <servlet-class>com.OJToolkit.server.LanguageServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LanguageService</servlet-name>
    <url-pattern>/ojtoolkit/language</url-pattern>
  </servlet-mapping>
  
  
        <servlet>
    <servlet-name>SubmissionService</servlet-name>
    <servlet-class>com.OJToolkit.server.SubmissionServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SubmissionService</servlet-name>
    <url-pattern>/ojtoolkit/submission</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>OJToolkit.html</welcome-file>
  </welcome-file-list>

</web-app>
